In [2]:
import pandas as pd

In [5]:
data = pd.read_csv("titanic.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
filteredData = data.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis = 'columns')
filteredData.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [14]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()

In [18]:
filteredData['Sex'] = le_sex.fit_transform(filteredData['Sex'])
filteredData.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

In [51]:
x = filteredData.drop(['Sex'],axis = 'columns')
x.Age = x.Age.fillna(x.Age.mean())
x.head(10)

   Survived  Pclass        Age     Fare
0         0       3  22.000000   7.2500
1         1       1  38.000000  71.2833
2         1       3  26.000000   7.9250
3         1       1  35.000000  53.1000
4         0       3  35.000000   8.0500
5         0       3  29.699118   8.4583
6         0       1  54.000000  51.8625
7         0       3   2.000000  21.0750
8         1       3  27.000000  11.1333
9         1       2  14.000000  30.0708

In [62]:
y = filteredData['Sex']
y.head()

0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: int64

In [77]:
from sklearn.tree import DecisionTreeClassifier
Dtc = DecisionTreeClassifier()

In [103]:
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

In [104]:
len(x_train)
# len(x_test)

623

In [108]:
Dtc.fit(x,y)

DecisionTreeClassifier()

In [109]:
Dtc.predict([[0,3,35,8.0500]])

C:\Users\Aman\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [101]:
y[4]

1

In [111]:
Dtc.score(x,y)

0.9708193041526375