In [1]:
import pandas as pd
data = pd.read_csv("quikr_car.csv")
data.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [2]:
data = data[data["year"].str.isnumeric()]

In [3]:
data['year'] = data['year'].astype(int)

In [4]:
data = data[data['Price']!="Ask For Price"]

In [5]:
data['Price'] = data['Price'].str.replace(",","").astype(int)

In [6]:
data = data[data['kms_driven']!="Petrol"]

In [7]:
data['kms_driven'] = data['kms_driven'].str.split(' ').str.get(0).str.replace(",","").astype(int)

In [8]:
data = data[~data['fuel_type'].isna()]

In [9]:
data['name'] = data['name'].str.split(" ").str.slice(0,3).str.join(" ")

In [10]:
data = data.reset_index(drop = True)

In [11]:
data.to_csv("clean_car_data.csv")

#predicted model

In [12]:
x = data.drop(columns = "Price")
y = data["Price"]

In [13]:
from sklearn.model_selection import train_test_split 
x_test,x_train,y_test,y_train = train_test_split(x,y,test_size = 0.2)

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline